*.mat
.*pt
saves/*
Videos/*
kyoto_natim\*
*.pt
testing_grounds.py
*.60
Figures\*

*.1
*.4
*.0
*.10
*.2
.ipynb_checkpoints/Homework12-checkpoint.ipynb
.ipynb_checkpoints/Homework13-checkpoint.ipynb
Homework12.ipynb
Homework13.ipynb
